Vagrant.require_version ">= 1.6.2"

Vagrant.configure("2") do |config|
    config.ssh.username = "root"
    config.ssh.shell = "bash"
    config.vm.provider :libvirt do |domain|
      domain.memory = 2048
      domain.cpus = 2
    end
end